@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

.bannerDefault {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bannerNames {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textTitle {
  color: #fff;
  font-size: 50px;
  text-align: center;
  font-family: Rubik;

}

.gridContainer{
  flex-direction: row;
  display: flex;
width: 100%;
}
.gridMenuButtons Button{
margin-right:20px;


}

.gridMenuButtonsText Button{
  margin-right:20px;
  height: 90px;
  
  }
.gridMenuButtonsText Button text{
  color: #fff; 
  font-size: 23px;
  }